.naosei{
    margin: 0px;
    background-color: black;
}

.flag {
    width: 50%;
    height: auto; 
top:10%;

}

.flag div {
    max-width: 100%;
    transform: scaleY(1.59);

}
.triangulo{
    max-width: 62.5%;
}

#triPreto {
    width: 62.5%;
    height: 62.5%;
    background-color: black;
    clip-path: polygon(0% 80%, 0% 20%, 55% 50%);
    position: absolute;
    top:18.6%;
    z-index: 10;

}
#triAmarelo {
    width: 62.5%;
    height: 62.5%;
    background-color: gold;
    clip-path: polygon(0% 10%, 0% 90%, 70% 50%);
    position: absolute;
    top:18.6%;
    z-index: 9;
}

#retVerde {
    width: 100%;
    height: 62.5%;
    background-color: rgb(17, 102, 0);
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
    position: absolute;
    top:18.6%;
    z-index: 1 ;
}

#listraBranca1 {
    width: 100%;
    height: 62.5%;
    background-color: rgb(255, 255, 255);
    clip-path: polygon(10% 0%, 15% 0%, 55% 40%, 50% 40% );
    position: absolute;
    top:18.6%;
    z-index: 3 ;
}

#listraBranca2 {
    width: 100%;
    height: 62.5%;
    background-color: rgb(255, 255, 255);
    clip-path: polygon(10% 100%, 15% 100%, 55% 60%, 50% 60% );
    position: absolute;
    top:18.6%;
    z-index: 3 ;
}
#listraBranca3 {
    width: 100%;
    height: 62.5%;
    background-color: rgb(255, 255, 255);
    clip-path: polygon(50% 40%, 50% 35%, 100% 35%, 100% 40% );
    position: absolute;
    top:18.6%;
    z-index: 3 ;
}
#listraBranca4 {
    width: 100%;
    height: 62.5%;
    background-color: rgb(255, 255, 255);
    clip-path: polygon(50% 60%, 50% 65%, 100% 65%, 100% 60% );
    position: absolute;
    top:18.6%;
    z-index: 3 ;
}
#vermelho {
    width: 100%;
    height: 62.5%;
    background-color: rgb(255, 0, 0);
    clip-path: polygon(15% 0%, 100% 0%, 100% 40%, 55% 40%);
    position: absolute;
    top:18.6%;
    z-index: 2 ;
}
#azul {
    width: 100%;
    height: 62.5%;
    background-color: rgb(68, 0, 255);
    clip-path: polygon(15% 100%, 100% 100%, 100% 60%, 55% 60%);
    position: absolute;
    top:18.6%;
    z-index: 2 ;
}